{%extends 'all-gallery/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  
  {% if images %}
    {% for image in images %}

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 columns">
        <div class="scale">
            <div class="opacity">
                <div class="view">
                    <a href="" class="btn-view">View Image</a>
                </div>
            </div>
            <img src="/gallery{{photo.image.url}}" alt="Image" class="img-fluid">
        </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
